.member {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #18122b88;
}
audio::-webkit-media-controls-panel {
    display: none !important;
  }
  
  audio::-webkit-media-controls-play-button {
    display: -webkit-box !important;
  }
  
  audio::-webkit-media-controls-start-playback-button {
    display: none !important;
  }

body {
    font-family: 'Raleway', sans-serif;
    background: url("following-the-power-lines-4k-iw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FEFBE9;
}

.container {
    float: right;
    max-width: 800px;
    margin: 0 auto;
    margin-right: 220px;
    padding: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.main-team {
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: 30px;
}

#d {
    width: 50%;
    margin: auto;
}

.team-members {
    font-size: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #18212b;
}

.team-member {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #18122bec;
    text-align: center;
}

.team-member p {
    margin: 0;
}

.rollno {
    font-weight: bold;
    font-size: 16px;
}

input[type="button"] {
    margin: 20px auto;
    display: block;
    text-decoration: none;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1E90FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s ease-in-out;
}

input[type="button"]:hover {
    background-color: #0047AB;
    text-decoration: none;
    transform: scale(1.1);
}

@keyframes box1 {
    from {
        opacity: 0;
        /* transform: translateY(50px); */
    }

    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

#a,
#b,
#c,
input[type="button"] {
    opacity: 0;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

h1,
h2,
.main-team,
#d {
    opacity: 0;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

h1,
h2,
.main-team,
#d {
    animation: box1 0.4s forwards;
}


#a {
    animation: box1 0.5s forwards;
    animation-delay: 0.4s;
}

#b {
    animation: box1 0.5s forwards;
    animation-delay: 0.8s;
}

#c {
    animation: box1 0.5s forwards;
    animation-delay: 1.2s;
}

input[type="button"] {
    animation: box1 0.5s forwards;
    animation-delay: 1.6s;
}


#a {
    transition: transform 0.2s ease-in-out;
}

#a:hover {
    transform: scale(1.1);
}

#b {
    transition: transform 0.2s ease-in-out;
}

#b:hover {
    transform: scale(1.1);
}

#c {
    transition: transform 0.2s ease-in-out;
}

#c:hover {
    transform: scale(1.1);
}

#d {
    transition: transform 0.2s ease-in-out;
}

#d:hover {
    transform: scale(1.1);
}

a {
    color: #FEFBE9;
    text-decoration: none;
}